[settings]
forced_crawling=False
save_paper_file=False

[forced_crawling]
# The prerequisite is forced_crawling=True
# Crawling all articles with paper_time greater than or equal to the specified time
paper_time_ge="2017-09-18 00:00:00"

[save_paper_file]
paper_path="../../paper_file"